<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymDatabase</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div  table class="table table-bordered" align="center">
    <div th:switch="${gyms}">
        <h2 th:case="null">No Gyms yet!</h2>
        <div th:case="*">
            <h2>Gyms</h2>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>GymName</th>
                    <th>GymAddress</th>
                    <th>Nomos</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="gym : ${gyms}">
                    <td th:text="${gym.id}"></td>
                    <td th:text="${gym.GymName}"></td>
                    <td th:text="${gym.GymAddress}"></td>
                    <td th:text="${gym.county.id}"></td>
                    <td><a th:href="@{/gym/delete/{id}(id=${gym.id})}">Delete</a></td>
                    <td><a th:href="@{/gym/edit/{id}(id=${gym.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <p><a href="/gym/create">Add a new Gym</a></p>

        <a class="h1" href="/county/index">nomoses/</a>
        <a class="h1" href="/customer/index">customers/</a>
        <a class="h1" href="/program/index">programs/</a>
        <a class="h1" href="/staff/index">staff</a>

    </div>
</div>
</body>
</html>