<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymDatabase</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<form action="#" th:action="@{/addStaff}" th:object="${staff}" method="post">

    <label for="Name">Name</label>
    <input type="text" th:field="*{Name}" id="Name" placeholder="Name">
    <span th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}"></span>

    <label for="Specialty">Specialty</label>
    <input type="text" th:field="*{Specialty}" id="Specialty" placeholder="Specialty">
    <span th:if="${#fields.hasErrors('Specialty')}" th:errors="*{Specialty}"></span>

    <label for="Phone">Phone</label>
    <input type="text" th:field="*{Phone}" id="Phone" placeholder="Phone">
    <span th:if="${#fields.hasErrors('Phone')}" th:errors="*{Phone}"></span>

    <label for="Gender">Gender</label>
    <input type="text" th:field="*{Gender}" id="Gender" placeholder="Gender">
    <span th:if="${#fields.hasErrors('Gender')}" th:errors="*{Gender}"></span>

    <label for="gym">Gym_Key</label>
    <input type="text" th:field="*{gym}" id="gym" placeholder="gym">
    <span th:if="${#fields.hasErrors('gym')}" th:errors="*{gym}"></span>

    <input type="submit" value="Add Staff">
</form>

</body>
</html>
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>GymDatabase</title>
</head>
<body>
<div align="center">
    <h1> Create Staff </h1>
    <br />
    <form action="#" th:action="@{/addStaff}" th:object="${staff}" method="post">

        <table border="0" cellpadding="10" align="center">
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" th:field="*{Name}" />
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="10">
            <tr>
                <td>Specialty:</td>
                <td>
                    <input type="text" th:field="*{Specialty}" />
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="10">
            <tr>
                <td>Phone:</td>
                <td>
                    <input type="text" th:field="*{Phone}" />
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="10">
            <tr>
                <td>Gender:</td>
                <td>
                    <input type="text" th:field="*{Gender}" />
                </td>
            </tr>
        </table>

        <table border="0" cellpadding="10">
            <tr>
                <td>Gym:</td>
                <td>
                    <input type="text" th:field="*{gym}" />
                </td>
            </tr>
        </table>

        <input type="submit" value="Add Staff">
    </form>
</div>
</body>
</html>