<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymDatabase</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div  table class="table table-bordered" align="center">
    <div th:switch="${customers}">
        <h2 th:case="null">No Customers yet!</h2>
        <div th:case="*">
            <h2>Customers</h2>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>CustomerName</th>
                    <th>CustomerAddress</th>
                    <th>Email</th>
                    <th>Gym</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}" >
                    <td th:text="${customer.CustomerName}">
                    <td th:text="${customer.CustomerAddress}">
                    <td th:text="${customer.Email}">
                    <td th:text="${customer.gym.id}">
                    <td><a th:href="@{/customer/delete/{id}(id=${customer.id})}">Delete</a></td>
                    <td><a th:href="@{/customer/edit/{id}(id=${customer.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <p><a href="/customer/create">Add a new Customer</a></p>

        <a class="h1" href="/county/index">nomoses/</a>
        <a class="h1" href="/gym/index">gyms/</a>
        <a class="h1" href="/program/index">programs/</a>
        <a class="h1" href="/staff/index">staff</a>

    </div>
</div>
</body>
</html>