<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymDatabase</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div  table class="table table-bordered" align="center">
    <div th:switch="${nomoses}">
        <h2 th:case="null">No Nomoi yet!</h2>
        <div th:case="*">
            <h2>Nomoi</h2>
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="nomos : ${nomoses}">
                    <td th:text="${nomos.id}"></td>
                    <td th:text="${nomos.Description}"></td>
                    <td><a th:href="@{/nomos/delete/{id}(id=${nomos.id})}">Delete</a></td>
                    <td><a th:href="@{/nomos/edit/{id}(id=${nomos.id})}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <p><a href="/nomos/create">Add a new Nomos</a></p>

        <a class="h1" href="/gym/index">gyms/</a>
        <a class="h1" href="/customer/index">customers/</a>
        <a class="h1" href="/program/index">programs/</a>
        <a class="h1" href="/staff/index">staff</a>

    </div>
</div>
</body>
</html>